{%- extends "layouts/base.njk" -%}
{% block archive %}
<hr class="clearfix border-0" />
<div class="container-fluid">
  <div class="archive__row">
  {%- if not paginationTemplate %}
    {%- set paginationTemplate = "partials/album.njk" %}
  {%- endif %}
  {%- for post in pagination.items %}
    {% include paginationTemplate %}
  {%- endfor %}
  </div>
  {%- if ( pagination.href.last != pagination.href.first ) %}
  {%- include "partials/paginator.njk" %}
  {%- endif %}
</div>
{%- endblock -%}
