---
title: "Mapa das casas"
layout: "layouts/map.njk"
templateEngineOverride: njk
eleventyExcludeFromCollections: true
override:header: 
header:
  actions:
    - href: '/casa/'
      label: "Ver lista"
      btn_class: "btn-primary btn-lg px-5 py-3"
lang: "pt"
css: [ "/assets/leaflet/leaflet.css" ]
permalink: /mapa/
---

<script src="/assets/leaflet/leaflet.js"></script>
<div id="map" class="d-flex flex-column w-100 h-100 align-self-stretch align-items-stretch" itemprop="hasMap"></div>

{% set mapPins = collections.casa %}

<!--Leaflet map generator-->
<script>
  var map = L.map('map', {
    zoomSnap: 0.25
  }).setView([5, -23], 3);
  L.tileLayer('https://a.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
{% for post in mapPins %}
  {% if post.data.coverage.spatial.location.lat and post.data.coverage.spatial.location.long %}
    {%- set stateCode = post.data.coverage.spatial.location.state %}
    {%- if  schemata.thesaurus[stateCode].name[locale].title %}
      {%- set stateName = schemata.thesaurus[stateCode].name[locale].title %}
    {%- elif schemata.thesaurus[stateCode].name[lang].title %}
      {%- set stateName = schemata.thesaurus[stateCode].name[lang].title %}
    {%- elif  schemata.thesaurus[stateCode].name[site.locale].title %}
      {%- set stateName = schemata.thesaurus[stateCode].name[site.locale].title %}
    {%- elif schemata.thesaurus[stateCode].name[site_lang].title %}
      {%- set stateName = schemata.thesaurus[stateCode].name[site_lang].title %}
    {%- endif %}

    {%- if post.data.coverage.spatial.location.country %}
      {%- set countryCode = post.data.coverage.spatial.location.country %}
    {%- elif stateCode %}
      {%- for r in schemata.thesaurus[stateCode].relation %}
        {%- if r.type == "isPartOf" %}
          {%- set countryCode = r.relids %}
        {%- endif %}
      {%- endfor %}
    {%- endif %}
    {%- if  schemata.thesaurus[countryCode].name[locale].title %}
      {%- set countryName = schemata.thesaurus[countryCode].name[locale].title %}
    {%- elif schemata.thesaurus[countryCode].name[lang].title %}
      {%- set countryName = schemata.thesaurus[countryCode].name[lang].title %}
    {%- elif  schemata.thesaurus[countryCode].name[site.locale].title %}
      {%- set countryName = schemata.thesaurus[countryCode].name[site.locale].title %}
    {%- elif schemata.thesaurus[countryCode].name[site_lang].title %}
      {%- set countryName = schemata.thesaurus[countryCode].name[site_lang].title %}
    {%- endif %}

    {%- if post.data.coverage.spatial.location.city %}
      {%- set cityName = post.data.coverage.spatial.location.city %}
    {%- endif %}

    {%- for e in post.data.coverage.temporal.events %}
      {%- if e.type == "creation" %}
        {%- set creationDate = e.display_date %}
      {%- endif %}
    {%- endfor %}
  L.marker([{{ post.data.coverage.spatial.location.lat }}, {{ post.data.coverage.spatial.location.long }}]).addTo(map).bindPopup('<div class="popover-header"><a href="{{ post.url }}">{{ post.data.title }}</a></div> <div class="popover-body">{{ creationDate }}<br />{% if countryCode %} <span aria-label="{{ countryName }}"> {{ countryCode | countryEmoji }} </span> {% endif %} {% if stateName %} {{ stateName }} {% endif %} {% if cityName %} <i class="bi bi-chevron-compact-right" aria-hidden="true"></i> {{ cityName }} {% endif %}</div>');
  {% endif %}
{% endfor %}
</script>
<!--/Leaflet map generator-->
